h1{
font-size: 30px;
text-align: center;
color: #F7146B
}

h2{
font-size: 20px;
text-align: left;
font-family: Helvetica, sans-serif;
color:#FFFFFF;
}

p{
font-size: 20px;
text-align: left;
font-family: Helvetica, sans-serif;
color:#FFFFFF;
}

body {
background-color: #000000;
}